@import "../../common.scss";

.header {
    composes: backgroundPrimary from '../Globals.scss';
    height: 60px;
}

.content {    
    min-height: 800px;  
    // height: calc(100% - 160px);  
}

.footer {
    background-color: #1890ff;
    height: 60px;
    color: white;
    margin-top: 20px;
}